div.gallery {
    margin: 12px;
    border: 1px solid #ccc;
    float: left;
    max-width: 240px;
    height: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-size: cover;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
    display: flex;
  }
  .img-delete {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  .img-delete:hover {
    background: white;
    color: black;
  }